{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": true,
  "printWidth": 80,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": false,
  "singleAttributePerLine": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$",
    "^next(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^@oztix/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "overrides": [
    {
      "files": "*.mdx",
      "options": {
        "proseWrap": "always",
        "printWidth": 70
      }
    },
    {
      "files": ["*.json", "*.yaml", "*.yml"],
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": ["packages/components/**/*.tsx", "packages/components/**/*.ts"],
      "options": {
        "printWidth": 100
      }
    },
    {
      "files": ["packages/core/**/*.ts"],
      "options": {
        "printWidth": 100
      }
    },
    {
      "files": ["docs/**/*.tsx", "docs/**/*.ts"],
      "options": {
        "printWidth": 100
      }
    }
  ]
}
